.Footer {
  width: 100%;
  background-color: hsl(210, 8%, 95%);
  padding: 2rem;
  align-items: center;
  vertical-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
}

.Footer div {
  width: 100%;
}
